* {
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 400px;
    height: auto;
    border: 1px solid black;
}

.left-column {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    width: 300px;
    height: auto;
}

.right-column {
    display: flex;
    flex-direction: column-reverse;
    width: 100px;
    height: auto;
}