* {
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 400px;
    height: auto;
    border: 1px solid black;
}

.display {
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 48px;
    padding-right: 8px;
}

.left-column {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    width: 300px;
    height: auto;
}

.right-column {
    display: flex;
    flex-direction: column-reverse;
    width: 100px;
    height: auto;
}